*{
	margin:0;
	padding: 0;
	font-family: poppins;
	font-size: 16px;
	background-color: gray;
	text-align: center;
}

section{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

.key{	
	box-sizing: content-box ;
	border: 2px solid black;
	width: 5rem;
	height: 5rem;
}

.key-Press{
	border: 2px solid orange;
}
kdb{
	display: flex;
	padding: .5em 0 0 .9em;
	font-size: 2em;
	color: white
}
.sound{
	color: rgba(255, 255, 0, .7);
}